{
    "family" : "smctest",
    "containerDefinitions" : [
        {
            "name" : "smctest",
            "image" : "%DOCKER_IMAGE%",
            "cpu" : 1,
            "memoryReservation" : 128,
            "portMappings" : [
                {
                    "containerPort" : 9000,
                    "protocol" : "tcp"
                }
            ],
            "essential" : true,
            "logConfiguration" : {
                "logDriver" : "awslogs",
                "options" : {
                    "awslogs-group" : "docker-logs",
                    "awslogs-region" : "eu-west-2",
                    "awslogs-stream-prefix" : "smctest"
                }
            }
        }
    ]
}
